<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Handle this</title>
</head>
<body class="font-sans-serif">
<div class="container xl mx-auto flex mb-4">
    <div class="container w-1/2 bg-blue-light p-10 mr-5 sm:w-1 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="text-white text-4xl leading-none">Access to eye care for everyone</h3>
        <p class="text-white pr-8 py-5 font-serif text-lg">Our goal at Orbis is to help build the skills and resources communities around the world need to provide quality eye care for many generations to come.</p>
        <button class=" capitalize bg-transparent border-2 border-yellow-light text-yellow font-semibold p-3 hover:bg-yellow hover:text-blue">Read more</button>
    </div>
    <div class="container w-1/2 sm:w-1 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <figure><img src="https://s3-eu-west-1.amazonaws.com/gb.files.orbis.epevaluation.co.uk/images/_700x394_crop_center-center_75/Bugbee-India_06.jpg?mtime=20170623115211" alt="Old man with recovering young lady." /></figure>
    </div>
</div>
<p class="hello">text</p>
    
</div>
</body>
</html>
